@import "compass/css3";
@import "site-settings",
        "helpers",
        "normalize";
//        "fonts",
//        "sass-base";
        
/* GLOBAL
--------------------------------------------------------------------------------- */
html {
//  background: url('http://www.baselineme.com/#{$base-line-height}');
  color: $main-font-color;
  font-size: #{$base-font-size}px;
  line-height: ($base-font-size*1.85)px;
}

body {
  font-family: $font-stack;
  @include font-size(20)
}

#page {
//  background: url('@{noise-100-90-5}');
//  background-repeat: repeat;
//  background-position: 0 0;
//  background-color: #e2e2de;
}

.body {
  .unit-body {
//    background-color: #fafafa;
  }
}

/* LINK */
a {
  &:link {
    color: $main-font-color;
    text-decoration: none;
  }
  &:visited {
    color: darken($main-font-color, 10%);
    text-decoration: none;
  }
  &:hover {
    color: lighten($main-font-color, 10%);
    text-decoration: none;
  }
}

/* HIGHLIGHTER */
//pre { margin-bottom: $line-height / $em; }
pre {
  color: #f2f2f2;
  background-color: $base02;
  border: 1px solid fadein($base02, 30%); 
  font-family: $font-stack;
  margin-left: 0;
  margin-right: 0;
//  padding: $line-height / $em;
  overflow: auto;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
}

/*
Base font size should be larger than 16px.
Calculation should be done via  http://j.mp/rNg5uA

No styleguide reference.
*/


/*
Font size setting
Using Golden ratio section
http://modularscale.com/scale/?px1=16&px2=30&ra1=1.618&ra2=0

No styleguide reference.
*/

h1, h2, h3, h4, h5, h6 { font-family: $webfont; }

h1, .h1 {
  font-family: $font-ubuntu;
  font-weight: 500;
  font-size: 30px;
  line-height: 52px;
  margin-top: 52px;
  margin-bottom: 26px;
  text-transform: uppercase;
}
h2, .h2 {
  @include font-size(30, 2);
  font-family: $font-ubuntu;
  font-weight: 500;
  margin: #{$base-line-height}px 0 0;
}
h3, .h3 {
  @include font-size(24, 1);
  padding-top: #{$base-line-height/2}px;
  margin: 0 0 #{$base-line-height/2}px;
}
h4, .h4 {
  @include font-size(18, 1);
  margin-top: #{$base-line-height}px;
  margin-bottom: #{$base-line-height}px;
}
p, ul, ol, dl, img {
  margin-top: 0;
  margin-bottom: #{$base-line-height}px;
}

p {
  @include font-size(20);
}
//small, .small, aside { font-size: 0.75 * ($font-size / $em); }
//.font-size-default { font-size: $font-size / $em; }

blockquote { font-weight: bold; }
blockquote cite { font-weight: normal; }
strong { font-weight: bold; }
em { font-weight: bold; }

li {
  @include font-size(16, 1);
}