/* 
  ## clearfix
  
  To clear floated child elements.
  
  class: <code>clearfix</code>
  
    <div class="documentation-aid-bordered">
      <div class="cf">
        <div class="documentation-aid" style="float: right">Floated Element</div>
      </div>
    </div>
*/
.cf, .clearfix { @include cf; }

/*
  ## Main headline
  
  This is usually an h1 but since it's a class it doens't have to be.
  
    <h1 class="h-headline">Managing CSS - An Introduction</h1>
*/
.h-headline {
  // Box
  margin: #{$base-line-height}px 0 0;
  
  // Text
  @include font-size(40, 2);
}

.h-subheadline {
  // Box
  padding-top: #{$base-line-height/2}px;
  margin: 0 0 #{$base-line-height/2}px;  

  // Text
  @include font-size(34, 1);
}

.h-sectionheadline {
  // Box
  margin-top: #{$base-line-height * 1.5}px;
  margin-bottom: #{$base-line-height / 2}px;  
  
  // Text
  @include font-size(28, 1);
}
