/* COMFORTAA Font
 * http://www.fontsquirrel.com/fonts/Comfortaa
*/

@font-face {
    font-family: 'UbuntuMono-B';
    src: url('/assets/themes/vanderpol-net/font/UbuntuMono-B-webfont.eot');
    src: url('/assets/themes/vanderpol-net/font/UbuntuMono-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/themes/vanderpol-net/font/UbuntuMono-B-webfont.woff') format('woff'),
         url('/assets/themes/vanderpol-net/font/UbuntuMono-B-webfont.ttf') format('truetype'),
         url('/assets/themes/vanderpol-net/font/UbuntuMono-B-webfont.svg#UbuntuMono-B') format('svg');
    font-weight: normal !important;
    font-style: normal;
}