@mixin cf {
  &:before,&:after{display: table;content: "";}
  &:after{clear:both;}
  &{zoom:1;}
}

@mixin ir {
  & {overflow: hidden;text-indent: 100%;white-space: nowrap;}
}

@mixin font-size($fontsize, $line-height-multiplier:1, $modifier:'') {
  font-size: #{$fontsize}px;
  font-size: #{($fontsize/$base-font-size)}rem;
  line-height: #{($base-line-height * $line-height-multiplier)}px;
}

//@mixin width ($cols:1) { width: ($cols * ($column + $gutter) - $gutter) / $em; }

