.list-linear {
  @include cf;
  padding-left: 20px;

  .list-head, .list-item {
    float: left;
    list-style: none;
    margin-right: 4px;
  }
  .list-item { margin-right: 16px; }
}

.social {
  height: 48px;
}

.pagination-container {
  margin-bottom: 19px;
}

.gist .gist-file {
  margin-bottom: #{$base-line-height}px !important;

}
.gist .gist-file .gist-data .gist-highlight pre {
  padding: 0 .5em 0 !important;
}

.gist .gist-file .gist-meta {
  padding: 0 0.5em !important;
  font-size: 80% !important;
  line-height: 36px;
}