.list-linear {
  @include cf;

  // Box
  padding-left: 20px;

  .list-head, .list-item {
    // Box
    margin-right: 4px;

    // Layout
    float: left;
    
    // Other
    list-style: none;
  }
  .list-item {
    // Box
    margin-right: 16px;
  }
}

.pagination-container {
  // Box
  margin-bottom: 0;
}

.gist .gist-file {
  // Box
  margin-bottom: #{$base-line-height}px !important;
}
.gist .gist-file .gist-data .gist-highlight pre {
  // Box
  padding: 0 .5em 0 !important;
}

.gist .gist-file .gist-meta {
  // Box
  padding: 0 0.5em !important;
  
  // Text
  font-size: 80% !important;
  line-height: 36px;
}

.post-date {
  // Box
  padding-top: 20px;
  
  // Layout
  float: right;
}

.post-block {
  // Box
  border-top: 3px solid #aaa;
  margin-top: 22px;
  padding-top: 15px;
  
  &:first-child {
    // Box
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
}

.pagination {
  
  .prev, .next {
    // Layout
//    display: inline-block;
    
    // Text
    @include font-size(20);
  }
}